<div class="col-12 text-center">
  <p-table
    [value]="listOfPokemonNames"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 30, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="header">Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pokemon>
      <tr>
        <td>
          <button
            type="button"
            class="pokemon-button"
            (click)="onPokemonClick(pokemon.name)"
          >
            {{ pokemon.name | titlecase }}
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
