<button
  [pTooltip]="tooltipContent"
  tooltipPosition="top"
  tooltipEvent="focus"
  class="move-button"
>
  {{ pokemonMove.name | uppercase }}
</button>

<ng-template #tooltipContent>
  <div class="container move-tooltip">
    <div class="row justify-content-center">
      <div class="col-12">
        <h5>{{ pokemonMove.name | uppercase }}</h5>
      </div>
      <hr />
      <div class="move-details">
        <div class="col-12">Type: Special</div>
        <div class="col-12">Accuracy: 100</div>
        <div class="col-12">Power: 100</div>
      </div>
      <hr />
      <p>desc</p>
    </div>
  </div>
</ng-template>
