<button
  [pTooltip]="tooltipContent"
  tooltipPosition="top"
  tooltipEvent="focus"
  class="move-button"
>
  {{ pokemonMove.name | uppercase }}
</button>

<ng-template #tooltipContent>
  <div class="container move-tooltip">
    <div class="row justify-content-center">
      <div class="col-12">
        <h5>{{ pokemonMoveDetail.name | uppercase }}</h5>
      </div>
      <hr />
      <div class="move-details">
        <div class="col-12">
          Move Type: {{ pokemonMoveDetail.attackType | titlecase }}
        </div>
        <div class="col-12">
          Type: {{ pokemonMoveDetail.type.name | titlecase }}
        </div>
        <div *ngIf="pokemonMoveDetail.accuracy" class="col-12">
          Accuracy: {{ pokemonMoveDetail.accuracy }}
        </div>
        <div *ngIf="pokemonMoveDetail.attackType !== 'status'" class="col-12">
          Power: {{ pokemonMoveDetail.power }}
        </div>
      </div>
      <hr />
      <p>{{ pokemonMoveDetail.description }}</p>
    </div>
  </div>
</ng-template>
